# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
index.php
wp-content/languages
wp-content/upgrade
wp-content/uploads
!wp-content/mu-plugins/
wp-content/plugins/*
!wp-content/themes/blog/
!wp-content/themes/blog/index.php
wp-content/*.php
wp-admin/
wp-includes/
wp*.php
readme.html
license.txt

xmlrpc.php
# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite


