@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/* nav */


.z-index-nav{
   z-index: 99999;
}
.navbar-light .navbar-nav .nav-link{
  color: black !important;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: black !important;
  text-decoration: underline;
}

/* header  */

.padding-logo{
  padding: 30px 15px;
  background-size: cover;
}
.text-playfaire{
    font-family: 'Playfair Display' ;
   
    
}
.title-playfaire{
    font-family: 'Playfair Display' ;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}
.vh-100{
    height: 100vh;
}

/*  gallery  */

.min-width-100{
  min-width: 100%;
}
.min-height-100{
  min-height:100%
}
.hover:hover{
  background-color: rgba(217, 30, 24, 0.5) ;

}
.top{
 transform: translateY(500px);

}
.top{
   transform: translateY(300px);
}
.transition{
   transition:all .3s;
}
#gallery1 img{
  height: 100% !important;
}
#gallery2 img{
  height: 100% !important;
}
#gallery3 img{
  height: 100% !important;
}
#gallery4 img{
  height: 100% !important;
}
#gallery5 img{
  height: 100% !important;
}
.border-gallery{
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

/* projet */
.textProjet{
  overflow-wrap: break-word;
}
.word{
  word-break: break-all;
}
.article-loop .justify-content-between .articles-mw{
  max-width: 31% !important;
}
/* article */
.h-40{
  height: 40%;
}
.bg-articles{
  background-size: cover;
  max-height: 250px;
  height: 250px;
  background-position: center;
}
/* location */

.bg-emplacement{
  background-image: url('medias/emplacement.png');
  background-size: cover;
  height: 80vh;
  background-position-x: left;
}
.bg-map {
  background-image: url('medias/contact.png');
  background-size: cover;
  height: 80vh;
  background-position-x: left;
}
.bg-white{
   background-color:white ;
}


/* apprenants */
.iconGit{
  background-image: url(./assets/images/github-image.png);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 25px;
}
.iconLinkedin{
  background-image: url(./assets/images/linkedin.png);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 25px;
}

.bg-apprenant{
  height: 100px;
  width: 100px;
}

.lien{
  width: 50px;
}


@media (max-width: 575.98px) { 
  .bg-gallery2{
    min-height: 100%;
  }
  .bg-gallery3{
    min-height: 100%;
  }
  .bg-gallery4{
    min-height: 100%;
  }
  .bg-gallery5{
    min-height: 100%;
  }
  .articles-mw{
    max-width: 100%;
    width: 100%;
  }
  .article-loop .justify-content-between .articles-mw{
    max-width: 100% !important;
  }
  .border-gallery{
    border-bottom: none;
    border-left: none;
  }
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
  .bg-gallery2{
    min-height: 100%;
  }
  .bg-gallery3{
    min-height: 100%;
  }
  .bg-gallery4{
    min-height: 100%;
  }
  .bg-gallery5{
    min-height: 100%;
  }
  .article-loop .justify-content-between .articles-mw{
    max-width: 100% !important;
    width: 100%;
  }
  .img-sm{
    height: 250px;
    width: 100%;
  }
  .border-gallery{
    border-bottom: none;
    border-left: none;
  }
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
  .article-loop .justify-content-between .articles-mw{
    max-width: 49% !important;
    width: 49%;
  }
  .border-gallery{
    border-bottom: none;
    border-left: none;
  }
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
  .article-loop .justify-content-between .articles-mw{
    max-width: 31% !important;
    width: 31%;
  }
 }

@media (min-width: 1200px) { 
  .article-loop .justify-content-between .articles-mw{
    max-width: 31% !important;
    width: 31%;
  }

 }

