
/* .bg-git{
    background-image: url('medias/git-groupe.png');
    background-size: cover;
    height: 100%;
    background-position-Y:center ;
} */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
.bg-hack{
    
    background-size: cover;
}
.text-playfaire{
    font-family: 'Playfair Display' ;
   
    
}
.title-playfaire{
    font-family: 'Playfair Display' ;
   
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}
.vh-100{
    height: 100vh;
}
.vh-min-100{
    min-height: 100vh !important;
}
.vh-min-80{
    min-height: 70vh !important;
}
.vh-20{
    height: 30vh;
}
.vh-80{
    height: 70vh;
}
.height-98{
    height: 98px !important;
}
.z-index-nav{
    z-index: 99999;
}
.nav{
    background-color: aqua;
}
.top{
    top: 13%;
}
.bg-white{
    background-color: white;
}
.bg-grey{
    background-color: #F8F9F9;
}
.word{
    word-break: break-all;
}
.articles-mw{
    max-width: 30%;
}
.box-shadow{
    box-shadow: 5px 5px  2px 1px rgba(0, 0, 0, .2);}

.mw-50{
    max-width: 70%;
    
}
.bg-emplacement{
    background-image: url('medias/emplacement.png');
    background-size: cover;
    height: 80vh;
    background-position-x: left;
}
.bg-map {
    background-image: url('medias/contact.png');
    background-size: cover;
    height: 80vh;
    background-position-x: left;
}
.bg-white{
     background-color:white ;
}
.hover:hover{
   background-color: rgba(217, 30, 24, 0.5) ;

}
.top{
  transform: translateY(500px);
 
}
.top{
    transform: translateY(300px);
}
.transition{
    transition:all .3s;
}

@media (max-width: 575.98px) { 
    .articles-mw{
        max-width: 100%;
    }

 }

 @media (min-width: 576px) and (max-width: 767.98px) { 
    .articles-mw{
        max-width: 100%;
    }
    .img-sm{
        height: 250px;
        width: 100%;
    }

  }
  @media (max-width: 991.98px) {  .articles-mw{
    max-width: 100%;
} }